:root {
    --purple: rgb(123, 31, 162);
    --violet: rgb(103, 58, 183);
    --pink: rgb(244, 143, 177);
  
    --bg: rgb(20, 20, 20);
}

body {
    background-color: var(--bg);
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient( rgba(255, 255, 255, 0.1) 9%, transparent 9%);
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    position: absolute;
    left: 0px;
    top: 0px;
    overflow-x: hidden;
}

.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
input{
    font-size: 1rem;
    padding: .5rem;
}
.user-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}
.card{
    border: 1px solid black; 
    background-color: white;
    padding: .5rem;
}
.card .header{
    margin-bottom: .25rem;
}

.hide {
    display: none;
}