.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}
input{
    font-size: 1rem;
    padding: .5rem;
}
.user-cards{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 10px;
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    border-color: rgb(3, 169, 244);
}
  
.button:nth-child() {
    background-color: #000;
}
  
.button:hover {
    background-color: #fff;
    color: #000;
    font-size: 30px;
}

.hide {
    display: none;
}