* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #1a1526;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.Calc {
    width: 90%;
    height: 90%;
    border: none;
}