* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #1a1526;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.Calc {
    width: 90%;
    height: 90%;
    border: none;
}

.Buttons {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.buttoncontaner a {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.4s;
}

.buttoncontaner {
    flex: 1;
    padding: 4rem;
    border: 10px solid #dadada;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding-right: 30px;
}