* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #1a1526;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    padding: 0 20px;
}

.home {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 4rem;
    color: white;
    align-self: self-start;
    display: flex;
}

header {
    font-family: "Audiowide", sans-serif;
    text-align: center;
    padding: 3rem;
}

.apps {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

.app {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #2f2a3b;
    border-radius: 1rem;
    width: 100%;
    max-width: 12000px;
    background-color: rgb(7, 0, 75);
    transition: scale 0.3s;
}

.app:hover {
    scale: 1.05;
}

.policy {
    font-family: "Audiowide", sans-serif;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: #2f2a3b;
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerDiv {
    display:flex;
}

footer a {
    text-decoration: none;
    color: white;
    padding: 15px;
}