#menu {
    height: 100%;
    width: 0;
    position: fixed;
    background-color: var(--bg);
    z-index: 3;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    overflow-x: hidden;
    transition: cubic-bezier(0.6, 0, 0.4, 1);
    transition-duration: 0.5s;
}

#nav {
    right: 25px;
    color: white;
    z-index: 0;
    display: flex;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 45px;
}

#closebtn {
    color: white;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    z-index: 9
}

#menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 4;
}

#menu-items:hover>.menu-item {
    opacity: 0.3;
}

#menu-items:hover>.menu-item:hover {
    opacity: 1;
}

.menu-item {
    color: white;
    font-size: clamp(1.5rem, 4vw, 4rem);
    font-family: "Ibarra Real Nova", serif;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    transition: opacity 400ms ease;
}

#menu-background-pattern {
    height: 100vh;
    width: 100vw;
    background: radial-gradient(circle, transparent 20%, #1a1526 20%, #1a1526 80%, transparent 80%, transparent) 0% 0% / 60px 60px, radial-gradient(circle, transparent 20%, #1a1526 20%, #1a1526 80%, transparent 80%, transparent) 30px 30px / 60px 60px, linear-gradient(rgba(255, 255, 255, 0.1) 1.5px, transparent 1.5px) 0px -0.75px / 30px 30px, linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1.5px, #1a1526 1.5px) -0.75px 0px / 30px 30px #1a1526;
    background-size: 60px 60px, 60px 60px, 30px 30px, 30px 30px;
    background-color: #1a1526;
    background-position: 0%;
    background-color: #1a1526;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    transition: opacity 800ms ease, background-size 800ms ease;
}

#menu-items:hover~#menu-background-pattern {
    background-size: 55vmin 20vmin;
}