body {
    color: #ffffff;
    background-color: #1a1526;
    width: 100%;
    overflow: hidden;
}

.home {
    text-decoration: none;
    font-family: 'Inter';
    font-size: 5rem;
    color: white;
    align-self: flex-start;
    top: 1rem;
    left: 1rem;
    display: flex;
}

header {
    font-family: "Audiowide", sans-serif;
    text-align: center;
}

.policy {
    font-family: "Audiowide", sans-serif;
    text-align: center;
}